
<% @microposts.each do |micropost| %>
<div class="micropost-content">
<div class="col-content">
  <div class="show_heading">
    <% if micropost.subheading.blank?%>
    <h2><%= " 　"%></h2>
    <% else%>
    <h2><%=micropost.subheading %></h2>
    <% end%>
  </div>
</div>

<div class="row-content">
  <%if micropost.content_1.blank? %>
  <div class="air_content">
  </div>
  <% else %>
  <div class="child_content_1">
    <%= markdown(micropost.content_1).html_safe %>
  </div>
  <% end %>
  <%if micropost.content_2.blank? %>
  <div class="air_content">
  </div>
  <% else %>
  <div class="child_content_2">
    <%= markdown(micropost.content_2).html_safe %>
  </div>
  <% end %>

  <div class="right-text">
    <p><%= l micropost.updated_at %></p>
  </div>
</div>


<!--micropost内容ここまで-->


<!--updated内容ここまで-->



<div class="icon-hanger">
  <div class="icon_button">
    <p><i class="fas fa-ellipsis-h"></i></p>

<div class="icon-hanger-open">
<div class="row-content"><!--Adjustment　icon-->

  <div class="edit-modal-open"><!--update-->
    <div class="edit-modal">
      <div class="edit-modal-bg modal-close">
        <h1><i class="fas fa-times-circle"></i></h1>

      </div>
      <div class="edit-modal-content">


        <div class="form-base"><!--edit micropostをlayerで渡せないのでこれで保留-->

        <div class="form-heading">
        <p><%=form_tag("/microposts/#{@Dictionary}/#{@post.id}/#{micropost.id}/",method: :patch) do %></p>

        <h1><%= @post.heading %></h1>

        <p>見だし２</p>
        <p><input class="input" type="text" name="subheading" value="<%= micropost.subheading %>" ></p>

        </div>

        <div class="form-contents">
        <input type="hidden" name="dictionary_id" value="<%="#{@Dictionary}" %>" >
        <input type="hidden" name="post_id" value="<%="#{@post.id}" %>" >
        <input type="hidden" name="id" value="<%="#{micropost.id}" %>" >

        <div class="form-textarea">
        <p>本文１</p>
        <textarea name="content_1"><%= micropost.content_1.gsub(/(\r\n|\r|\n)/, "\n")  %></textarea>
        </div>

        <div class="form-textarea">
        <p>本文２</p>
        <textarea name="content_2"><%= micropost.content_2.gsub(/(\r\n|\r|\n)/, "\n")  %></textarea>
        </div>

        </div>

        <div class="form-submit">
        <input type="submit" value="ok">
        </div>

        <% end %>

        </div><!--edit-->








        <!-- %= render "/microposts/edit" %-->
      </div>
    </div>

  <div class="icon_button">
    <div class="tooltip1">
      <p><i class="far fa-edit"> </i></p>
     <div class="description1">更新 </div>
   </div>
    </div>

  </div><!--update-->


  <div class="icon_button"><!--delete-->
    <%= link_to("/microposts/#{@Dictionary}/#{@post.id}/#{micropost.id}/",method: :delete,data: { confirm: "削除しますか？" })do %>
    <div class="tooltip1">
      <p><i class="far fa-trash-alt"> </i></p>
     <div class="description1">削除</div>
   </div>
    <% end %>
  </div><!--delete-->



  <div class="edit-modal-open"><!--add to　micropost-->
    <div class="edit-modal">
      <div class="edit-modal-bg modal-close">
        <h1><i class="fas fa-times-circle"></i></h1>

      </div>
      <div class="edit-modal-content">
        <%= render "/microposts/new" %>
      </div>
    </div>

  <div class="icon_button">
    <div class="tooltip1">
      <p><i class="fas fa-arrow-down"> </i></p>
     <div class="description1">テキスト追加</div>
   </div>
    </div>
  </div><!--add to　micropost-->
</div><!--Adjustment　icon-->
</div><!--icon-hanger-open-->
</div><!--icon-button-->
</div><!--icon-hanger-->
</div><!--micropost-content-->
<% end %>
