
<% @microposts.each do |micropost| %>
<div class="micropost-content">
<div class="col-content">
  <div class="show_heading">
    <% if micropost.subheading.blank?%>
    <h2><%= " 　"%></h2>
    <% else%>
    <h2><%=micropost.subheading %></h2>
    <% end%>
  </div>
</div>
<div class="right-text">
  <p><%= l micropost.updated_at %></p>
</div>
<div class="row-content">
  <%if micropost.content_1.blank? %>
  <div class="air_content">
  </div>
  <% else %>
  <div class="child_content_1">
    <%= markdown(micropost.content_1).html_safe %>
  </div>
  <% end %>
  <%if micropost.content_2.blank? %>
  <div class="air_content">
  </div>
  <% else %>
  <div class="child_content_2">
    <%= markdown(micropost.content_2).html_safe %>
  </div>
  <% end %>


</div>


<!--micropost内容ここまで-->


<!--updated内容ここまで-->



<div class="icon-hanger">
  <div class="icon_button">
    <p><i class="fas fa-ellipsis-h"></i></p>

<div class="icon-hanger-open">
<div class="row-content"><!--Adjustment　icon-->

  <div class="icon_button">
            <%# %>
    <div class="tooltip1">
      <p><i class="fas fa-angle-up"> </i></p>
     <div class="description1">1つ上に</div>
   </div>
       <%# end %>
    </div>

    <div class="icon_button">
              <%# %>
      <div class="tooltip1">
        <p><i class="fas fa-angle-down"> </i></p>
       <div class="description1">1つ下に</div>
     </div>
         <%# end %>
      </div>


  <div class="icon_button">
            <%= link_to("/microposts/#{@Dictionary.id}/#{@post.id}/#{micropost.id}",method: :get )do %>
    <div class="tooltip1">
      <p><i class="far fa-edit"> </i></p>
     <div class="description1">更新 </div>
   </div>
       <% end %>
    </div>




  <div class="icon_button"><!--delete-->
    <%= link_to("/microposts/#{@Dictionary.id}/#{@post.id}/#{micropost.id}/",method: :delete,data: { confirm: "削除しますか？" })do %>
    <div class="tooltip1">
      <p><i class="far fa-trash-alt"> </i></p>
     <div class="description1">削除</div>
   </div>
    <% end %>
  </div><!--delete-->





  <div class="icon_button">
        <%= link_to("/microposts/#{@Dictionary.id}/#{@post.id}/new",method: :get )do %>
    <div class="tooltip1">
      <p><i class="fas fa-arrow-down"> </i></p>
     <div class="description1">テキスト追加</div>
   </div>
   <% end %>
    </div>

</div><!--Adjustment　icon-->
</div><!--icon-hanger-open-->
</div><!--icon-button-->
</div><!--icon-hanger-->
</div><!--micropost-content-->
<% end %>
