<div class="form-base">
<%= @Dictionary.id %>
<div class="form-heading">
<%=form_tag("/microposts/#{@Dictionary.id}/#{@post.id}/create",method: :post) do %>

<h1><%= @post.heading %></h1>

<p>見だし２</p>
<p><input class="input" type="text" name="subheading"></p>

</div>

<div class="form-contents">
<input type="hidden" name="dictionary_id" value="<%="#{@Dictionary.id}" %>" >
<input type="hidden" name="post_id" value="<%="#{@post.id}" %>" >

<div class="form-textarea">
<p>本文１</p>
<textarea name="content_1"></textarea>
</div>

<div class="form-textarea">
<p>本文２</p>
<textarea name="content_2"></textarea>
</div>

</div>

<div class="form-submit">
<input type="submit" value="ok">
</div>

<% end %>

</div>
